/* Estilos universais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 375px;
}

main {
    flex: 1;
    justify-content: center;
}

/* Cabeçalho */
.containerCabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo {
    height: 50px;
    display: flex;
    margin-top: 8px;
    margin-left: 40px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0));
}

/* Nome do usuário */
.usuarioNome {
    color: #003399;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: auto;
    text-decoration: none;
}

/* Ícone do usuário */
#usuarioIcone {
    font-size: 35px;
    color: #003399;
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    margin-right: 10px;
}

/* Ícone de logout */
#iconeLogout {
    font-size: 35px;
    color: #003399;
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    margin-right: 40px; /* Ajuste a margem direita conforme necessário */
    cursor: pointer;
}

/* Navegação */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 40px;
    align-items: center;
    background: #003399;
    padding: 20px;
}

.itensNavegacao {
    list-style: none;
    display: flex;
}

.itensNavegacao > li > a {
    padding-left: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 25px;
    cursor: pointer;
    transition: 1s text;
}

.itensNavegacao > li > a:hover {
    color: #33cc99;
}

/* Box principal */
.boxPrincipal {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    max-width: 100%; /* Garante que o conteúdo não ultrapasse a largura do container */
    background: #f8f8f8;
    color: #000000;
    border-radius: 10px;
    padding: 40px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    width: 100%;
}

#withBorder {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: black;
}

/* Estilo do container flexível */
.containerFlex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 40px;
}

/* Coluna Esquerda */
.colunaEsquerda {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}

/* Coluna Direita */
.colunaDireita {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Container de disciplinas */
.discipline-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%; /* usa todo espaço disponível */
    margin: auto;
}

.discipline {
    position: relative; /* Necessário para que o menu dropdown posicionado absolutamente funcione */
    height: 150px;
    width: 200px;
    border-radius: 5px; /* borda arredondada */
    border: 2px solid #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.options-icon {
    position: absolute;
    top: 5px; /* Ajusta conforme necessário */
    right: 5px; /* Ajusta conforme necessário */
    font-size: 20px; /* Tamanho do ícone */
    color: #000; /* Cor do ícone */
    cursor: pointer; /* Cursor pointer para indicar que é clicável */
    background-color: #fff; /* Adiciona uma faixa branca */
    padding: 2px; /* Adiciona espaçamento ao redor do ícone */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}

.dropdown-menu {
    display: none; /* Oculta o menu por padrão */
    position: absolute;
    top: 25px; /* Ajusta conforme necessário */
    right: 5px; /* Ajusta conforme necessário */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.discipline-color {
    flex: 1;
}

.discipline-name {
    background-color: #FFFFFF; /* Background do nome da disciplina */
    color: #000; /* Cor do texto */
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.discipline-name:hover {
    color: #33CC99;
}

.calendar-container {
    width: 330px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.calendar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #fff;
    padding: 3px;
    margin: 0;
}

.calendar-nav {
    display: flex;
    justify-content: space-between; /* Posiciona as setas nas extremidades */
    align-items: center;
    background-color: #fff;
    color: #003399;
    border-radius: 0 0 8px 8px;
    margin-top: 0;
}

.nav-arrow {
    cursor: pointer;
    margin: 0 10px;
}

.calendar-date {
    text-align: center;
    padding: 10px 0;
    background-color: #003399;
    color: #fff;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    color: #6b7280;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px; /* Reduzir o espaçamento entre os dias */
}

.calendar-dates div {
    width: 40px; /* Ajustar a largura para um tamanho fixo */
    height: 40px; /* Ajustar a altura para um tamanho fixo */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    box-sizing: border-box;
}

.calendar-dates div:hover {
    background-color: #e5e7eb;
}

.calendar-dates .today {
    background-color: #4ade80;
    border-radius: 0%;
    color: #fff;
}

.calendar-dates .other-month {
    color: #a0aec0;
}

/* Box Adicionar Lembretes */
.boxAdicLembrete {
    width: 330px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid #000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Área do título adicionar Lembretes */
.containerAdicLembrete .titulo {
    color: #000;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 10px 0px 17px;
}

/* Posição dos ícones adicionar Lembretes */
.containerAdicLembrete .iconeTitulo i {
    position: relative;
    left: 23px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
    padding-right: 8px;
}

/* Mantém o ícone de adicionar na mesma linha do texto */
.containerAdicLembrete .iconeTitulo {
    display: flex;
    align-items: center;
}

/* Estilo do ícone + de adicionar lembrete */
#iconeMais {
    border-right: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

/* Estilo dos itens nome do lembrete */
.itemLembrete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo do texto nome do Lembrete */
.itemLembrete .texto {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Estilo do campo de texto dos Lembretes */
.itemLembrete .texto textarea {
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
    flex-grow: 1;
    resize: none; /* Não permite redimensionamento manual */
    overflow: hidden; /* Esconde o scroll */
    height: 25px; /* Altura inicial */
    max-width: 100%; /* Limita a largura máxima */
    width: 100%; /* Largura total */
    box-sizing: border-box;
}

/* Estilo do checkbox dos Lembretes */
.itemLembrete .texto input[type="checkbox"] {
    accent-color: #000;
    margin-right: 10px;
    cursor: pointer;
    width: 13px;
    height: 13px;
}

/* Estilo da ação deletar */
.itemLembrete .acaoDeletar i {
    cursor: pointer;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Rodapé */
footer {
    background-color: #003399;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    margin-top: 40px;
}

/* Responsividade */
@media (max-width: 1140px) {
    .boxPrincipal {
        width: 900px;
    }
    
    .discipline-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsividade para calendário e lembretes */
@media (max-width: 900px) {
    .usuarioNome {
        visibility: hidden;
    }

    .boxPrincipal {
        width: 660px;
    }

    .discipline-container {
        grid-template-columns: repeat(1, 1fr); /* Ajusta para duas colunas quando a tela é menor que 900px */
        justify-content: center; /* Centraliza as disciplinas horizontalmente */
    }

    .discipline {
        justify-self: center; /* Centraliza cada disciplina individualmente */
    }
}

@media (max-width: 660px) {
    .boxPrincipal {
        width: 410px;
    }

    .containerFlex {
        flex-direction: column;
    }

    .discipline-container {
        grid-template-columns: 1fr; /* Ajusta para uma coluna quando a tela é menor que 660px */
    }
}

@media (max-width: 410px) {
    .boxPrincipal {
        width: 375px;
    }

    .calendar-container {
        width: 295px;
    }
    .boxAdicLembrete {
        width: 295px;
    }
}
