/*Estilos universais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Corpo e layout principal */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/*Alinhamento dos objetos da header*/
.containerCabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Estilo do logo*/
.logo {
  height: 50px;
  display: flex;
  margin-top: 8px;
  margin-left: 40px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0));
}

/*Nome do usuário*/
.usuarioNome {
  color: #0066cc;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  text-decoration: none;
}

/*Estilo do ícone do usuário*/
#usuarioIcone {
  font-size: 35px;
  color: #003399;
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
  margin-right: 40px;
}

/*Estilo da navegação*/
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 40px;
  align-items: center;
  background: #003399;
  padding: 20px;
}

/*Orientação dos itens da navegação*/
.itensNavegacao {
  list-style: none;
  display: flex;
}

/*Estilo da fonte da navegação*/
.itensNavegacao > li > a {
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  cursor: pointer;
  transition: 1s text;
}

/*Navegação > mudar cor quando passar o mouse*/
.itensNavegacao > li > a:hover {
  color: #33CC99;
}

/*Definições de fundo + rodapé*/
main {
  background: #fff;
  padding-bottom: 40px;
}

/*Box principal*/
.boxPrincipal {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  background: #f8f8f8;
  color: #000000;
  border-radius: 10px;
  padding: 40px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

/*Remover linha box principal*/
fieldset {
  border: 0;
}

/*Estilo do título Perfil*/
legend {
  border: 0;
  padding: 2.2px;
  text-align: center;
  font-size: 23px;
}

/*Posição dos textos das caixas*/
.boxElementos {
  position: relative;
  width: 100%;
  height: 45px;
  margin: 20px 0;
}

/*Definições das caixas*/
.boxElementos input {
  width: 100%;
  height: 100%;
  background: #fff;
  border: none;
  outline: none;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  padding: 0px 10px 0px 45px;
}

/*Caixa principal do gênero*/
.boxGenero {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #000;
}

/*Area do título box do gênero*/
.boxGenero .title {
  color: #000;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 10px 0px 17px;
}

/*Posição do ícone de gênero*/
.boxGenero .iconeTitulo i {
  position: relative;
  left: 23px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  padding-right: 8px;
}

/*Mantenha o ícone do gênero na mesma linha do texto*/
.boxGenero .iconeTitulo {
  display: flex;
  align-items: center;
}

/*Barra de separação do ícone do gênero e texto*/
#barraIconeGenero {
  border-right: 1px solid #000;
}

/*Elementos principais dentro box de gênero*/
.boxGenero .radioEscolha {
  padding: 5px 10px;
  background: #fff;
  border-top: 1px solid #000;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/*Estilo da barra do radio dentro do box de gênero*/
.boxGenero .radioEscolha label {
  display: flex;
  height: 35px;
  width: 100%;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 28px;
  margin: 10px 0;
  padding-left: 20px;
  cursor: default;
  transition: all 0.3s ease;
}

/*Barra de radio quando clicado, dentro do box de gênero*/
#opcao1:checked ~ .opcao1,
#opcao2:checked ~ .opcao2,
#opcao3:checked ~ .opcao3 {
  background: #000;
  border-color: #000;
}

/*Círculo de radio antes de clicar, dentro do box de gênero*/
.boxGenero .radioEscolha label .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}

/*Circulo externo de radio quando clicado, dentro do box de gênero*/
#opcao1:checked ~ .opcao1 .dot,
#opcao2:checked ~ .opcao2 .dot,
#opcao3:checked ~ .opcao3 .dot {
  background: #fff;
}

/*Ponto central de radio quando clicado, dentro do box de gênero*/
.boxGenero .radioEscolha label .dot::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

/*Ponto central de radio quando clicado, dentro do box de gênero*/
#opcao1:checked ~ .opcao1 .dot::before,
#opcao2:checked ~ .opcao2 .dot::before,
#opcao3:checked ~ .opcao3 .dot::before {
  background: #000;
  transform: translate(-50%, -50%) scale(1);
}

/*Texto da barra de radio, dentro do box de gênero*/
.boxGenero .radioEscolha label .text {
  color: #7f7f7f;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}

/*Texto da barra de radio quando clicado, dentro do box de gênero*/
#opcao1:checked ~ .opcao1 .text,
#opcao2:checked ~ .opcao2 .text,
#opcao3:checked ~ .opcao3 .text {
  color: #fff;
}

/*Esconde os circulos de radio reais, dentro do box de gênero*/
.boxGenero .radioEscolha input[type="radio"] {
  display: none;
}

/*Limite do box de texto da senha*/
#alterarSenha {
  padding-right: 35px;
}

/*Limite do box de texto da senha*/
#confirmarAltSenha {
  padding-right: 35px;
}

/*Cor dos textos de exemplo das caixas*/
.boxElementos input::placeholder {
  color: #7F7F7F;
}

/*Posição dos ícones*/
.boxElementos i {
  position: absolute;
  left: 25px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  padding-right: 8px;
}

/*Barra de separação dos ícones e textos*/
#barraIcone {
  border-right: 1px solid #000;
}

/*Posição dos ícones de senha*/
.iconeOlho {
  position: absolute;
  right: 45px;
  top: 30%;
  cursor: pointer;
}

/*Estilos botão SALVAR*/
#salvar {
  width: 100%;
  height: 45px;
  background: #33CC99;
  border: none;
  outline: none;
  border-radius: 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

/*Posicionamento do rodapé*/
footer {
  background-color: #003399;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
}
