/* Estilos universais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Alinhamento dos objetos da header */
.containerCabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo do logo */
.logo {
  height: 50px;
  display: flex;
  margin-top: 8px;
  margin-left: 40px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0));
}

/* Nome do usuário */
.usuarioNome {
  color: #0066cc;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  text-decoration: none;
}

/* Nome do usuário > sublinhar quando passar o mouse */
.usuarioNome:hover {
  text-decoration: underline;
}

/* Estilo do ícone do usuário */
#usuarioIcone {
  font-size: 35px;
  color: #003399;
  display: flex;
  margin-top: 8px;
  margin-right: 40px;
}

/* Estilo da navegação */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 40px;
  align-items: center;
  background: #003399;
  padding: 20px;
}

/* Orientação dos itens da navegação */
.itensNavegacao {
  list-style: none;
  display: flex;
}

/* Estilo da fonte da navegação */
.itensNavegacao > li > a {
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  cursor: pointer;
  transition: 1s text;
}

/* Navegação > mudar cor quando passar o mouse */
.itensNavegacao > li > a:hover {
  color: #33CC99;
}
/* Caixa principal */
.boxPrincipal {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  background: #f8f8f8;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 40px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha os itens ao centro */
}

/* Remover linha da caixa principal */
fieldset {
  border: 0;
}

/*Estilo do título Perfil*/
legend {
  border: 0;
  padding: 2.2px;
  text-align: center;
  font-size: 23px;
  margin: 0 0 20px;
}

/* Estiliza o contêiner da barra de progresso */
.containerProgresso {
  width: 90%;
  background-color: #33CC99;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0 20px;
}

p {
  font-size: 16px;
  font-weight: 500;
}

/* Estiliza a barra de progresso interna */
.barraProgresso {
  height: 40px;
  background-color: #0066cc;
  width: 0;
  transition: width 0.5s ease-in-out;
}

/* Estiliza o texto da porcentagem */
#textoProgresso {
  font-size: 14.5px;
}

/* Definições da legenda */
.containerLegenda {
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinhar verticalmente os itens */
  width: 100%;
  margin: 40px 0 20px;
}

/* Alinhar os quadrados com as frases */
.tarefasConcluidas {
  width: 40px;
  height: 40px;
  background-color: #0066cc;
  border-radius: 10px;
  margin-right: 8px; /* Adicionar um espaço entre os quadrados */
}
.tarefasAConcluir {
  width: 40px;
  height: 40px;
  background-color: #33CC99;
  border-radius: 10px;
}
/* Contêiner para centralizar o indicador de tempo */
.wrapperCirculo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px;
}
/* Definições indicador de tempo */
.circulo {
  position: relative;
  width: 200px;
  height: 200px;
  background: conic-gradient(from 0deg, #00c6ff, #0072ff, #94E0C7, #33cc99, #00c6ff);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.circulo::before {
  content: '';
  position: absolute;
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 50%;
}
.circulo .hora {
  position: relative;
  font-size: 24px;
  font-weight: bold;
}
.marcadoresHora {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marcadores {
  position: absolute;
  width: 2px;
  height: 10px;
  background: black;
}

/* Posicionamento do rodapé */
footer {
  position: relative;
  background-color: #003399;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: 40px;
}

/* Definições e texto do rodapé */
.rodape {
  background-color: #003399;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/*Alinhamento Voltar*/
.voltar {
  text-align: center;
}

/*Estilo Voltar*/
.voltar p a {
  color: #0006cc;
  text-decoration: none;
  font-weight: 600;
  font-size: 14.5px !important;
}

/*Efeito de sublinhar Voltar*/
.voltar p a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media only screen and (max-width: 950px) {
  .boxPrincipal {
      width: 85%;
  }
}
