/* Estilos universais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-bottom: 40px;
}

/* Cabeçalho */
.containerCabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  display: flex;
  margin-top: 8px;
  margin-left: 40px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0));
}

.usuarioNome {
  color: #003399;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  text-decoration: none;
  visibility: hidden;
}

#usuarioIcone {
  font-size: 35px;
  color: #003399;
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
  margin-right: 10px;
}

/* Ícone de logout */
#iconeLogout {
  font-size: 35px;
  color: #003399;
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
  margin-right: 40px; /* Ajuste a margem direita conforme necessário */
  cursor: pointer;
}

/* Navegação */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 40px;
  align-items: center;
  background: #003399;
  padding: 20px;
}

.itensNavegacao {
  list-style: none;
  display: flex;
}

.itensNavegacao > li > a {
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  cursor: pointer;
  transition: 1s text;
}

.itensNavegacao > li > a:hover {
  color: #33CC99;
}

/* Caixa principal */
.boxPrincipal {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  background: #f8f8f8;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 40px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha os itens ao centro */
}

fieldset {
  border: 0;
}

/* Estilo do título */
legend {
  border: 0;
  padding: 2.2px;
  text-align: center;
  font-size: 23px;
  margin: 0 0 20px;
}

/* Conteúdo */
p {
  font-size: 16px;
  font-weight: 500;
}

/* Indicador de tempo */
.wrapperCirculo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px;
}

.circulo {
  position: relative;
  width: 200px;
  height: 200px;
  background: conic-gradient(from 0deg, #00c6ff, #0072ff, #94E0C7, #33cc99, #00c6ff);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.circulo::before {
  content: '';
  position: absolute;
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 50%;
}

.circulo .hora {
  position: relative;
  font-size: 24px;
  font-weight: bold;
}

.marcadoresHora {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marcadores {
  position: absolute;
  width: 2px;
  height: 10px;
  background: black;
}

/* Barra de progresso */
.containerProgresso {
  width: 90%;
  background-color: #33CC99;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0 10px;
}

.barraProgresso {
  height: 40px;
  background-color: #0066cc;
  width: 0;
  transition: width 0.5s ease-in-out;
}

#textoProgresso {
  font-size: 14.5px;
}

/* Legenda */
.containerLegenda {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinhar verticalmente os itens */
  width: 90%;
  margin: 20px 0 20px;
}

.containerLegenda div {
  display: flex;
  align-items: center;
}

.tarefasConcluidas {
  width: 40px;
  height: 40px;
  background-color: #0066cc;
  border-radius: 10px;
  margin-right: 8px; /* Adicionar um espaço entre os quadrados */
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarefasAConcluir {
  width: 40px;
  height: 40px;
  background-color: #33CC99;
  border-radius: 10px;
  margin-right: 8px; /* Adicionar um espaço entre os quadrados */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Voltar */
.voltar {
  text-align: center;
}

.voltar p a {
  color: #0006cc;
  text-decoration: none;
  font-weight: 600;
  font-size: 14.5px !important;
}

.voltar p a:hover {
  text-decoration: underline;
}

/* Rodapé */
footer {
  background-color: #003399;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
}

/* Responsividade */
@media only screen and (max-width: 950px) {
  .boxPrincipal {
      width: 85%;
  }
}