/* Estilos universais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Alinhamento dos objetos da header */
.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo do logo */
.logo {
  height: 50px;
  display: flex;
  margin-top: 8px;
  margin-left: 40px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0));
}

/* Nome do usuário */
.nomeUsuario {
  color: #0066cc;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  text-decoration: none;
}

/* Nome do usuário > sublinhar quando passar o mouse */
.nomeUsuario:hover {
  text-decoration: underline;
}

/* Estilo do ícone do usuário */
#iconeUsuario {
  font-size: 35px;
  color: #003399;
  display: flex;
  margin-top: 8px;
  margin-right: 40px;
}

/* Estilo da navegação */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 40px;
  align-items: center;
  background: #003399;
  padding: 20px;
}

/* Orientação dos itens da navegação */
.nav-itens {
  list-style: none;
  display: flex;
}

/* Estilo da fonte da navegação */
.nav-itens > li > a {
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  cursor: pointer;
  transition: 1s text;
}

/* Navegação > mudar cor quando passar o mouse */
.nav-itens > li > a:hover {
  color: #33CC99;
}

/* Definições de fundo + rodapé */
main {
  background: #fff;
  min-height: calc(100vh - 100px);
  padding-bottom: 100px;
  position: relative;
}

/* Caixa principal */
.box {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  background: #f8f8f8;
  color: #000000;
  border-radius: 10px;
  padding: 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha os itens ao centro */
}

/* Remover linha da caixa principal */
fieldset {
  border: 0;
}

/* Contêiner para centralizar a barra de progresso */
.progress-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Estiliza o contêiner da barra de progresso */
.progress-container {
  width: 90%;
  background-color: #33CC99;
  border-radius: 10px;
  overflow: hidden;
}

/* Estiliza a barra de progresso interna */
.progress-bar {
  height: 40px;
  background-color: #0066cc;
  width: 0;
  transition: width 0.5s ease-in-out;
}

/* Estiliza o texto da porcentagem */
#progress-text {
  font-size: 14.5px;
  margin-top: 10px;
}

/* Definições da legenda */
.atividades {
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinhar verticalmente os itens */
  width: 100%;
}

/* Alinhar os quadrados com as frases */
.tarefas {
  width: 40px;
  height: 40px;
  background-color: #0066cc;
  border-radius: 10px;
  margin-right: 8px; /* Adicionar um espaço entre os quadrados */
}
.tarefas2 {
  width: 40px;
  height: 40px;
  background-color: #33CC99;
  border-radius: 10px;
}
/* Contêiner para centralizar o indicador de tempo */
.circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
/* Definições indicador de tempo */
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  background: conic-gradient(from 0deg, #00c6ff, #0072ff, #94E0C7, #33cc99, #00c6ff);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.circle::before {
  content: '';
  position: absolute;
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 50%;
}
.circle .time {
  position: relative;
  font-size: 24px;
  font-weight: bold;
}
.tick-marks {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tick-mark {
  position: absolute;
  width: 2px;
  height: 10px;
  background: black;
}
/* Posicionamento do rodapé */
footer {
  position: relative;
}
/* Definições e texto do rodapé */
.infoFooter {
  background-color: #003399;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* Responsividade */
@media only screen and (max-width: 950px) {
  .box {
      width: 85%;
  }
}