/* Estilos universais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  justify-content: center;
}

/* Alinhamento dos objetos da cabecalho */
.containerCabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo do logo */
.logo {
  height: 50px;
  display: flex;
  margin-top: 8px;
  margin-left: 40px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0));
}

/* Nome do usuário */
.usuarioNome {
  color: #0066cc;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  text-decoration: none;
}

/* Nome do usuário > sublinhar quando passar o mouse */
.usuarioNome:hover {
  text-decoration: underline;
}

/* Estilo do ícone do usuário */
#usuarioIcone {
  font-size: 35px;
  color: #003399;
  display: flex;
  margin-top: 8px;
  margin-right: 40px;
}

/* Estilo da navegação */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 40px;
  align-items: center;
  background: #003399;
  padding: 20px;
}

/* Orientação dos itens da navegação */
.itensNavegacao {
  list-style: none;
  display: flex;
}

/* Estilo da fonte da navegação */
.itensNavegacao > li > a {
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  cursor: pointer;
  transition: 1s text;
}

/* Navegação > mudar cor quando passar o mouse */
.itensNavegacao > li > a:hover {
  color: #33cc99;
}

/* Box principal */
.boxPrincipal {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  background: #f8f8f8;
  color: #000000;
  border-radius: 10px;
  padding: 40px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título Centralizado */
.tituloCentralizado {
  text-align: center;
  margin-bottom: 20px;
}

/* Remover linha box principal */
fieldset {
  border: 0;
}

/* Estilo do título Nome da Disciplina */
legend {
  border: 0;
  padding: 2.2px;
  text-align: center;
  font-size: 23px;
}

/* Estilo do container flexível */
.containerFlex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 40px;
  margin-top: 20px;
}

/* Coluna Esquerda */
.colunaEsquerda {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

/* Coluna Direita */
.colunaDireita {
  display: flex;
  flex-direction: column;
  flex: 2;
}

/* Posição textos box Alterar Nome da Matéria */
.boxAltNomeMateria {
  position: relative;
  width: 100%;
  height: 45px;
}

/* Definições box Alterar Nome da Matéria */
.boxAltNomeMateria input {
  flex: 1;
  width: 100%;
  height: 100%;
  background: #fff;
  border: none;
  outline: none;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  padding: 0px 10px 0px 45px;
}

/* Cor texto exemplo Alterar Nome da Matéria */
.boxAltNomeMateria input::placeholder {
  color: #7f7f7f;
}

/* Posição ícone Alterar Nome da Matéria */
.boxAltNomeMateria i {
  position: absolute;
  left: 25px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  padding-right: 8px;
}

/* Barra de separação dos ícones para textos */
#barraIcone {
  border-right: 1px solid #000;
}

/* Box principal Alterar Cores */
.boxCorCaderno {
  flex: 1;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  border: 2px solid #000;
}

/* Área do título de Cores */
.boxCorCaderno .titulo {
  color: #000;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 10px 0px 17px;
}

/* Posição e definição do ícone de Cores */
.boxCorCaderno .iconeTitulo i {
  position: relative;
  left: 23px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  padding-right: 8px;
}

/* Posição box cores e título Definir cor do caderno */
.boxCorCaderno .iconeTitulo {
  display: flex;
  align-items: center;
}

/* Barra de separação título e cores */
.boxCorCaderno .containerCores {
  padding: 10px 1px;
  border-top: 1px solid #000;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo e posição cores */
.wrapperCores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Amostra de cores */
.amostraCor {
  width: 45px;
  height: 45px;
  border: 2px solid #000;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* Especificações do box cor hexadecimal */
.containerCorHexa {
  display: flex;
  justify-content: center;
}

/* Estilo do box cor hexadecial */
.wrapperCorHexa {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
}

/* Exibição da cor hexadecial selecionada */
.corSelecionada {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
  border: 2px solid #000;
}

/* Definições texto cor hexadecimal */
#entradaCorHexa {
  width: 100px;
  border: none;
  text-align: center;
  font-size: 16px;
  color: #000;
}

/* Box Adicionar Atividades */
.containerAdicAtividade {
  flex: 1;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #000;
}

/* Área do título adicionar atividades */
.containerAdicAtividade .titulo {
  color: #000;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 10px 0px 17px;
}

/* Posição dos ícones adicionar atividades */
.containerAdicAtividade .iconeTitulo i {
  position: relative;
  left: 23px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  padding-right: 8px;
}

/* Mantém o ícone de adicionar na mesma linha do texto */
.containerAdicAtividade .iconeTitulo {
  display: flex;
  align-items: center;
}

/* Estilo do ícone + de adicionar atividade */
#iconeMais {
  border-right: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
}

/* Estilo dos itens nome de atividade */
.itemAtividade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo do texto nome da atividade */
.itemAtividade .texto {
  display: flex;
  align-items: center;
}

/* Estilo do campo de texto das atividades */
.itemAtividade .texto input[type="text"] {
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
  flex-grow: 1;
}

/* Estilo do checkbox das atividades */
.itemAtividade .texto input[type="checkbox"] {
  accent-color: #000;
  margin-right: 10px;
  cursor: pointer;
  width: 13px;
  height: 13px;
}

/* Estilo da ação deletar */
.itemAtividade .acaoDeletar i {
  cursor: pointer;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Box Anotações */
.boxAnotacao {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 5px;
  border: 2px solid #000;
}

/* Área do título box de Anotações */
.boxAnotacao .titulo {
  color: #000;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 10px 0px 17px;
}

/* Posição do ícone de Anotações */
.boxAnotacao .iconeTitulo i {
  position: relative;
  left: 23px;
  top: 3%;
  transform: translate(-50%);
  font-size: 20px;
  padding-right: 8px;
}

/*Cronômetro*/

.clock {
position: relative;
left: 422px;
top: 3%;
transform: translate(-50%);
padding-right: 1px;
font-size: 18px;
}
.buttons {
  position: relative;  
  left: 395px;
  top: 3%;
  transform: translate(-50%);
  gap: 10px; /*Espaço entre os botões*/
}
button {
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}
button:focus {
  outline: none;  
}
button:active {
  transform: scale(0.95);
}

/* Mantém o ícone de Anotações na mesma linha do texto */
.boxAnotacao .iconeTitulo {
  display: flex;
  align-items: center;
}

/* Barra de separação título e container de Anotações */
.boxAnotacao .containerAnotacao {
  padding: 10px 1px;
  border-top: 1px solid #000;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.campoAnotacao {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
  background: #fff;
  flex-grow: 1;
}

/* Estilo largura barra de rolagem */
.campoAnotacao::-webkit-scrollbar {
  width: 15px;
}

/* Cor fundo barra de rolagem */
.campoAnotacao::-webkit-scrollbar-track {
  background: #f8f8f8;
}

/* Cor barra de rolagem */
.campoAnotacao::-webkit-scrollbar-thumb {
  background: #cacaca;
  border: 2px solid #f1f1f1;
}

/* Cor barra de rolagem ao passar o mouse */
.campoAnotacao::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

/* Estilos do botão de SALVAR */
#salvar {
  width: 32%;
  height: 45px;
  background: #33CC99;
  border: none;
  outline: none;
  border-radius: 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
}

/* Posicionamento do rodapé */
footer {
  background-color: #003399;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: relative;
  margin-top: 40px;
}

/* Responsividade */
@media only screen and (max-width: 1140px) {
  .boxPrincipal {
    width: 87%;
    flex-direction: column;
  }
  .containerFlex {
    flex-direction: column;
    gap: 0;
  }
  .colunaDireita {
    margin-top: 20px;
  }
}
